/* preset */
body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
	background-image: url('https://images.unsplash.com/photo-1475796258459-4c4a9d5c8d15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7b27de68d2932ada87028e063c3f5fe5&auto=format&fit=crop&w=891&q=80');
	background-repeat: no-repeat;
	background-size: cover;
}
#root {
	height: 100vh;
	display: flex;
}

li {
	list-style: none;
}
/* module*/

.margin1 {
	margin-bottom: 1rem;
}

.Title {
	text-shadow: 1.5px 1.5px 2px #191919;
	color: #03c6f4;
	letter-spacing: 1px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 2rem;
}

/* Catergoy */
.button-add {
	float: right;
	font-size: 1.6rem;
	width: 35px;
	height: 35px;
	color: white;
	font-weight: 800;
	background-color: #03c6f4;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.category-item {
	font-weight: 700;
	font-size: 1.1rem;
	color: white;
	display: inline;
}
.form {
	margin-top: auto;
	/* WTF this does? super cool */
}

/* Todo */
.list-todo {
	display: flex;
	flex-direction: row;
}
.checkbox {
	display: inline;
	font-size: 1.6rem;
	color: #393939;
	background-color: transparent;
	border: 0;
}
.rightList {
	height: 70%;
}

.rightAdd {
	height: 30%;
}
/* Optional */

/* left */
.input-field {
	color: white;
	outline: none;
	border: none;
	border-bottom: 1.4px solid #ddd;
	background: transparent;
	height: 1.4rem;
}

.delete-child {
	display: none;
}

/* right */
.complete {
	color: #cacaca;
}
